* {
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.display-boards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width:fit-content; 
    margin: 16px;
    float: left;
    font-size: 1rem;
}
.note h1 {
    font-size: 1.1rem;
    margin-bottom: 6px;
}