.plus {
    --button-default-border-radius: 100% !important;
}
.aws-btn {
    letter-spacing: 2px;
    margin: 0 0.7rem;
    --button-default-height: 50px !important;
    --button-default-font-size: 19px !important;
    --button-default-border-radius: 13px;
    --button-horizontal-padding: 23px !important;
    --button-raise-level: 4px !important;
    --button-hover-pressure: 2 !important;
    --transform-speed: 0.185s !important;
    --button-primary-color: #8e067c;
    --button-primary-color-dark: #baa627;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #5b084c;
    --button-primary-color-active: #c548d3;
    --button-primary-border: 0px solid #ffe11d;
    --button-secondary-color: #b40939;
    --button-secondary-color-dark: #9a936a;
    --button-secondary-color-light: #f5f5f5;
    --button-secondary-color-hover: #970617;
    --button-secondary-color-active: #9c1122;
    --button-secondary-border: 0px solid #1e88e5;
    --button-anchor-color: #47475c;
    --button-anchor-color-dark: #ab9507;
    --button-anchor-color-light: #fbb88e;
    --button-anchor-color-hover: #2c2c4e;
    --button-anchor-color-active: #2d2d3a;
    --button-anchor-border: 0px solid transparent;
    --button-danger-color: #47475c;
    --button-danger-color-dark: #ab9507;
    --button-danger-color-light: #fbb88e;
    --button-danger-color-hover: #2c2c4e;
    --button-danger-color-active: #2d2d3a;
    --button-danger-border: 0px solid transparent;
    --button-danger-border: none;
}
.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}
.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}
.details p{
    display: flex;
    flex-direction: column;
    padding: 3px;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 8px;
}
.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.alltasks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.alltasks h2{
    font-size: 1.4rem;
    margin: 0;
    padding: 5px 0;
}
.done, .notDone{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
input[type="checkbox"]{
    display: inline-block;
    width: 18px;
    height: 18px;
    padding-top: 5px;
}
label {
    max-width: 15rem;
    margin-left: 5px;
}
.taskRow{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
.note>.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 24
}

.newtodo input{
    color: white !important;
}
@media(max-width: 500px) {
    .alltasks h2{
        font-size: 1.2rem;
    }
}
    