.newTodo input {
    box-sizing: content-box;
    background-color: transparent;
    padding: 0.3rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #fdcb6e;
    font-family: "Architects Daughter", cursive;
    font-size: 1.2rem;
    color: #213555;
    width: auto;
    margin-left: 4px;
    margin-bottom: 20px;
}

.newTodo input:active {
    display: block;
}
.plus {
    --button-default-border-radius: 100% !important;
}
.aws-btn {
    letter-spacing: 2px;
    margin: 0 0.7rem;
    --button-default-height: 50px !important;
    --button-default-font-size: 19px !important;
    --button-default-border-radius: 13px;
    --button-horizontal-padding: 23px !important;
    --button-raise-level: 4px !important;
    --button-hover-pressure: 2 !important;
    --transform-speed: 0.185s !important;
    --button-primary-color: #8e067c ;
    --button-primary-color-dark: #baa627 ;
    --button-primary-color-light: #ffffff ;
    --button-primary-color-hover: #5b084c ;
    --button-primary-color-active: #c548d3;
    --button-primary-border: 0px solid #ffe11d;
}

.newTodo span {
    display: inline-block;
}

button {
    font-family: "Architects Daughter", cursive;
    padding-bottom: 3px;
}

.inputButtons {
    background-color: #fdcb6e;
    color: hsla(260, 2%, 25%, 0.7);
}

.inputButtons:hover {
    background-color: #50a3a2;
    border: 2px solid white;
    border-radius: 15%;
    color: white;
}