
.modal {
    z-index: 100;
    position: fixed;
    top: 22vh;
    left: 10%;
    width: 80%;
    background: #f7e6c4;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
  }
  
  .modal__header {
    width: 100%;
    padding: 0.4rem 0.5rem;
    background: #213555;
    color: white;
    height: fit-content;
    font-size: 1rem;
    border-radius: 14px 14px 0 0;
  }
  
  .modal__header>span {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .modal__header h2 {
    margin-bottom: 0.4rem;
    padding-top: 0px;
  }
  
  .modal__content {
    padding: 0.5rem 0.5rem;
    margin-left: 10px;
    text-align: justify;
    font-size: 18px;
  }
  
  
  .modal__footer {
    margin-top: 0.8rem;
    padding: 0.3rem 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
  
  @media(max-width: 500px) {
  
    .modal__header,
    .modal__content,
    .modal__footer {
      font-size: 15px;
    }
    .modal__footer>span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: fit-content;
      font-size: 10px;
    }
  }
  
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }